* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
        }

        .navbar {
            position: fixed;
            top: 0;
            left: 0;

            width: 100%;
            height: 90px;

            background: #0a1136;

            display: flex;
            align-items: center;
            justify-content: space-between;

            padding: 0 6%;

            z-index: 1000;
        }



        .logo {
            color: white;
            font-size: 30px;
            font-weight: bold;
        }

        .menu {
            display: flex;
            gap: 45px;
        }

        .menu a {
            color: white;
            text-decoration: none;
            font-size: 16px;
            font-weight: bold;
        }

    
        .hero {
            height: 700px;

            background: #0a1136;

            position: relative;

            display: flex;
            flex-direction: column;

            justify-content: center;
            align-items: center;

            text-align: center;

            color: white;

            padding: 90px 20px 20px;

            overflow: hidden;
        }

        .big-portfolio {
            position: absolute;

            top: 180px;
            left: 50%;

            transform: translateX(-50%);

            font-size: 150px;
            font-weight: bold;

            color: transparent;

            -webkit-text-stroke: 2px rgba(255, 255, 255, 0.12);

            white-space: nowrap;

            z-index: 1;
        }


    

        .hello {
            position: relative;

            z-index: 2;

            color: #3a65e7f9;

            font-size: 30px;

            font-weight: bold;

            margin-bottom: 40px;
        }


    

        .hero h1 {
            position: relative;

            z-index: 2;

            max-width: 1100px;

            font-size: 48px;

            line-height: 1.4;

            font-weight: bold;
        }



        .section {
            height: 700px;

            padding: 150px;

            text-align: center;

            background: white;
        }

       

.dropdown {
    position: relative;
}




.dropdown-menu {
    display: none;

    position: absolute;

    top: 30px;
    left: 0;

    background: white;

    min-width: 170px;

    padding: 10px 0;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}




.dropdown-menu a {
    display: block;

    color: #222;

    padding: 12px 20px;

    text-decoration: none;

    font-size: 14px;

    white-space: nowrap;
}




.dropdown:hover .dropdown-menu {
    display: block;
}



.dropdown-menu a:hover {
    background: #f0f0f0;

    color: #172d78;
}

/* =========================
   PORTFOLIO SECTION
========================= */

.portfolio-section {
    width: 100%;
    margin: 0;
    padding: 0;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 0;
    margin: 0;
    padding: 0;
}

.portfolio-item {
    position: relative;
    width: 100%;
    height: 330px;
    overflow: hidden;
    cursor: pointer;
    margin: 0;
    padding: 0;
}


.portfolio-item img {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    display: block;
    object-fit: cover;
    object-position: center;

    transform: scale(1.17);
    transition: transform 0.2s ease;
}


.portfolio-item:hover img {
    transform: scale(1.08);
}


.portfolio-hover {
    position: absolute;

    width: 95%;
    height: 95%;

    left: -25%;
    bottom: -25%;

    background: #1598e8;

    border-radius: 50%;

    opacity: 0;
    visibility: hidden;

    transform: scale(0.85);

    transition:
        opacity 0.4s ease,
        visibility 0.4s ease,
        transform 0.5s ease;

    z-index: 2;
}


.portfolio-item:hover .portfolio-hover {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}



.hover-content {
    position: absolute;

    left: 35%;
    top: 45%;

    width: 500px;

    color: white;
}

.hover-content span {
    display: block;

    font-size: 16px;
    font-weight: 400;

    margin-bottom: 10px;

    color: white;
}

.hover-content h3 {
    margin: 0;

    font-size: 30px;
    font-weight: 600;

    color: white;
    white-space: nowrap;
}



.more-works {
    display: flex;

    width: 100%;
    height: 90px;

    align-items: center;
    justify-content: center;

    background: #0a1136;

    color: white;

    text-decoration: none;

    font-size: 18px;
    font-weight: 500;

    transition: 0.3s ease;
}


@media (max-width: 992px) {

    .portfolio-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }

    .portfolio-item {
        width: 100%;
        height: 300px;
    }

    .hover-content {
        left: 35%;
        top: 45%;
    }

    .hover-content h3 {
        font-size: 26px;
    }
}



@media (max-width: 576px) {

    .portfolio-grid {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .portfolio-item {
        width: 100%;
        height: 300px;
    }

    .portfolio-item:hover img {
        transform: scale(1.12);
    }

    .portfolio-hover {
        width: 95%;
        height: 95%;

        left: -30%;
        bottom: -25%;
    }

    .hover-content {
        left: 38%;
        top: 45%;

        width: 350px;
    }

    .hover-content span {
        font-size: 14px;
    }

    .hover-content h3 {
        font-size: 23px;
    }
}

/* =========================
   SERVICES
========================= */

.services {
    width: 100%;
    padding: 90px 8%;
    background-color: #ffffff;
    overflow: hidden;
}


/* SERVICES TITLE */

.services-title {
    text-align: center;
    margin-bottom: 70px;
}

.services-title h2 {
    margin: 0;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 3px;

    color: transparent;
    -webkit-text-stroke: 1px #eeeeee;

    line-height: 1;
}


/* SERVICES CONTAINER */

.services-container {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 70px;
}


/* SERVICE BOX */

.service-box {
    text-align: left;
}


/* ICON */

.service-icon {
    width: 75px;
    height: 75px;

    object-fit: contain;

    display: block;

    margin-bottom: 25px;
}


/* TITLE */

.service-box h3 {
    margin: 0 0 20px;

    font-size: 28px;
    font-weight: 400;

    color: #303b45;
}


/* DESCRIPTION */

.service-box p {
    margin: 0;

    max-width: 350px;

    font-size: 16px;
    line-height: 2;

    color: #999999;
}


/* =========================
   TABLET
========================= */

@media (max-width: 900px) {

    .services {
        padding: 70px 5%;
    }

    .services-title h2 {
        font-size: 75px;
    }

    .services-container {
        gap: 40px;
    }

    .service-box h3 {
        font-size: 24px;
    }

}


/* =========================
   MOBILE
========================= */

@media (max-width: 600px) {

    .services {
        padding: 60px 30px;
    }

    .services-title {
        margin-bottom: 50px;
    }

    .services-title h2 {
        font-size: 50px;
    }

    .services-container {
        grid-template-columns: 1fr;
        gap: 55px;
    }

    .service-box {
        text-align: center;
    }

    .service-icon {
        margin: 0 auto 25px;
    }

    .service-box p {
        margin: auto;
    }

}

/* =========================
   BLOG SECTION
========================= */

.blog-section {
    width: 100%;
    padding: 80px 6% 70px;
    overflow: hidden;

    background: linear-gradient(
        to bottom,
        #078ff5 0%,
        #0788f5 42%,
        #080d3b 42%,
        #080d3b 100%
    );
}


/* =========================
   HEADER
========================= */

.blog-header {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 45px;
}


/* BLOG BACKGROUND TEXT */

.blog-title {
    position: relative;
}

.blog-title span {
    position: absolute;

    top: -70px;
    left: -10px;

    font-size: 100px;
    font-weight: 700;
    letter-spacing: 5px;

    color: transparent;

    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.08);

    z-index: 0;
}


/* MAIN TITLE */

.blog-title h2 {
    position: relative;

    margin: 0;

    color: white;

    font-size: 32px;
    font-weight: 600;

    z-index: 1;
}


/* MORE BLOGS BUTTON */

.more-blogs {
    display: inline-block;

    padding: 12px 30px;

    border: 1px solid rgba(255, 255, 255, 0.8);

    color: white;

    text-decoration: none;

    font-size: 12px;

    transition: 0.3s;
}

.more-blogs:hover {
    background: white;
    color: #0788f5;
}


/* =========================
   BLOG CONTAINER
========================= */

.blog-container {
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 18px;

    width: max-content;
}


/* =========================
   BLOG CARD
========================= */

.blog-card {
    width: 335px;

    background: #070c35;

    color: white;
}


/* =========================
   IMAGE
========================= */

.blog-image {
    width: 100%;
    height: 220px;

    overflow: hidden;
}

.blog-image img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    display: block;

    transition: 0.4s;
}




/* =========================
   CONTENT
========================= */

.blog-content {
    padding: 20px 18px 22px;
}


/* DATE */

.blog-date {
    display: block;

    margin-bottom: 10px;

    color: #168cff;

    font-size: 11px;
}


/* TITLE */

.blog-content h3 {
    margin: 0 0 15px;

    color: white;

    font-size: 18px;
    font-weight: 600;

    line-height: 1.4;
}
.testimonial-section {
    position: relative;

    width: 100%;
    min-height: 600px;

    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    overflow: hidden;
}


/* المحتوى كله */
.testimonial-content {
    position: relative;

    width: 700px;

    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 2;
}


/* TESTIMONIAL اللي ورا */
.testimonial-bg {
    position: absolute;

    top: -100px;
    left: 50%;

    transform: translateX(-50%);

    font-size: 105px;
    font-weight: 800;

    color: transparent;

    -webkit-text-stroke: 1px #f1f1f1;

    white-space: nowrap;

    z-index: -1;

    pointer-events: none;
}


/* صورة الشخص */
.testimonial-img {
    width: 90px;
    height: 90px;

    border-radius: 50%;

    overflow: hidden;
    
    margin-top: 10px;
    margin-bottom: 35px;
}

.testimonial-img img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}


/* الكلام */
.testimonial-text {
    max-width: 600px;

    color: #777;

    font-size: 18px;
    line-height: 1.8;

    margin: 0 0 20px;
}

.testimonial-name  {
    margin: 0 0 5px;

    font-size: 20px;

    color: #0788f5;

    margin-bottom: 5px;
    margin-top: 30px;
}


/* الوظيفة */
.testimonial-job {
    color: #999;

    font-size: 14px;

    margin-top: 5px;
}


/* الأسهم */
.arrow {
    position: absolute;

    top: 50%;

    transform: translateY(-50%);

    width: 55px;
    height: 55px;

    border: 1px solid #ddd;

    background: white;

    color: #999;

    font-size: 25px;

    cursor: pointer;

    transition: all 0.3s ease;

    z-index: 5;
}


/* السهم الشمال */
.left-arrow {
    left: 8%;
}


/* السهم اليمين */
.right-arrow {
    right: 8%;
}


/* Hover على السهم */
.arrow:hover {
    background: #1689e8;

    border-color: #1689e8;

    color: white;
}

/* =========================
   AUTHOR
========================= */

.author {
    display: flex;

    align-items: center;

    gap: 10px;
}

.author img {
    width: 32px;
    height: 32px;

    border-radius: 50%;

    object-fit: cover;
}

.author strong {
    display: block;

    color: white;

    font-size: 11px;
}

.author small {
    display: block;

    margin-top: 3px;

    color: #888;

    font-size: 9px;
}

.start-project {
    width: 100%;
    min-height: 500px;

    background:#0788f5;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.project-content {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

/* LET'S TALK الكبيرة اللي ورا */
.bg-text {
    position: absolute;

    top: -55px;
    left: 50%;

    transform: translateX(-50%);

    font-size: 150px;
    font-weight: 800;

    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.08);

    white-space: nowrap;

    z-index: 1;

    pointer-events: none;
}

/* Main Title */
.project-content h2 {
    position: relative;

    z-index: 2;

    color: white;

    font-size: 52px;
    font-weight: 700;

    margin: 0 0 55px;
}

/* Button */
.start-btn {
    position: relative;
    z-index: 3;

    display: inline-flex;

    justify-content: center;
    align-items: center;

    width: 235px;
    height: 70px;

    border: 1px solid white;

    color: white;
    background: transparent;

    text-decoration: none;

    font-size: 17px;
    font-weight: 600;

    transition: all 0.3s ease;
}

/* Hover */
.start-btn:hover {
    background-color: white;
    color: #0788f5;

    border-color: white;
}
/* =========================
   RESPONSIVE
========================= */

@media (max-width: 900px) {

    .blog-section {
        padding: 70px 5%;
    }

    .blog-container {
        grid-template-columns: repeat(2, 1fr);
    }

}


@media (max-width: 600px) {

    .blog-section {
        padding: 60px 25px;
    }

    .blog-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
    }

    .blog-title h2 {
        font-size: 26px;
    }

    .blog-title span {
        font-size: 70px;
        top: -45px;
    }

    .blog-container {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .blog-card {
        width: 100%;
    }

}
.footer {
    width: 100%;
    background: #0a1136;
    padding-top: 70px;
    color: white;
}

.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 50px;

    min-height: 300px;
}

/* Logo */
.footer-logo h2 {
    font-size: 32px;
    font-weight: 800;
    margin: 0;
}

/* Columns */
.footer-column {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer-column h3 {
    font-size: 18px;
    margin: 0 0 15px;
    font-weight: 700;
}

.footer-column a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

.footer-column a:hover {
    color: #ddd;
    padding-left: 5px;
}

/* Copyright */
.copyright {
    text-align: center;
    padding: 30px 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.copyright p {
    margin: 0;
    font-size: 14px;
}

.copyright span {
    color: red;
}

.copyright a {
    color: #00bfff;
    text-decoration: none;
}